<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mercury flight booking test project">
  <test thread-count="5" name="Flight booking tests">
    <classes>
      <class name="mercury.bookflight.testcases.MercuryTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
